.body{
  background-color: #000000e8;
}
.header {
  background-color: #0a0a0a;
  box-shadow: #ffffff 0px 0px 10px 0px;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 1; }
.offcanvas {
  background-color: #212529; 
  
}
  .offcanvas .offcanvas-header {
    align-items: start;
    border-bottom: 1px solid #5e5858; } 
.lista {
  display: flex;
  justify-content: end; }
  .lista a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    margin: 0px 30px; }
    .category:hover {
      transition: 1.2s;
      background-color: #ffffff;
      border-radius: 5px;
      color: #000000;
     }
.category{
  padding: 4px 15px;
}     
.logoCarrito{
  background-color: #ffffff;
  padding: 10px;
  border-radius: 100%;
  font-size: 50px;
  color: #000000;
}
.logoCarrito:hover{
  transition: 1s;
  background-color: #212529;
  color: #ffffff;
}
.cargando{
  margin: auto;
  color: #ffffff;
}
.swal2-styled{
  background-color: #941111;
}
/*lista de PRODUCTOS*/
.ordenarProducts{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 80px 50px 0px;
  gap: 100px;
}
.cardProducto{
width: 280px;
border: #5a5959 solid 2px;
text-align: center;
border-radius: 6px;
background-color: #ffffff;
}
.productImg{
  height: 260px;
}
.descProduct{
  display: flex;
  flex-direction: column;
  background-color: #0a0a0a;
  align-items: center;
  height: 300px;
  justify-content: center;
}
.titleProduct{
  color: #ffffff;
  font-size: 28px;
  margin-bottom: 15px;
  border-bottom: #ffffff solid 1px;
}
.priceProduct{
  color: #ffffff;
  font-size: 24px;
}
.btnDetalles{
  color: #ffffff;
  background-color: #0a0a0a;
  border-radius: 5px;
  width: 250px;
  padding: 10px 0px;
  margin-top: 50px;
  font-size: 18px;
  letter-spacing: 3px;
}
.btnGuardar{
  font-weight: bolder;
  color: #080808;
  background-color: #ffffff;
  border: #000000 2px solid;
  border-radius: 5px;
  width: 250px;
  padding: 10px 0px;
  margin-top: 20px;
}
.stock{
  font-size: 18px;
  color: #ffffff;
  opacity: 0.5;
}
.btnProduct{
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
  padding: 8px 20px;
  font-size: 12px;
  margin: 0px 35px;
}
.styleCount{
  margin: 20px 0px;
  justify-items: flex-start;
  color: #ffffff;
}
/*Item Details*/
.productDetail{
  border-radius: 15px;
  width: 25rem;
  margin-left: 40px;
}
.detailContainer{
  display: flex;
  align-items: center;
  width: 80rem;
  height: 38rem;
  border: #ffffff solid 2px;
  margin: 100px auto;
  border-radius: 5px;
  border: #ffffff 2px solid;
  gap: 100px;
  background-color: black;
}
.detailProduct{
  text-align: center;
  margin: 20px 5px;
  border-left: #464343 1px solid;
}
.textDetail{
  color: #ffffff;
}
.title{
font-size: 50px;
letter-spacing: 9px;
}
.price{
  font-size: 40px;
}
.description{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2.5;
  margin-top: 70px;
  font-size: 25px;
  letter-spacing: 2px;
}
.cantidad{
  color: #ffffff;
}
.deleteCartDetail{
  background-color: #941111;
  border-radius: 5px;
  padding: 8px 5px;
  width: 200px;
  margin-bottom: 20px;
  color: aliceblue;
  border: solid 1px #5a6868
}

/*CART*/
.ordenarCartItem{
  text-align: center;
  margin: 150px 30% 0;
  border: #5e5858 solid 2px;
  background-color: #020202e6;
  padding: 10px;
}
.productsCart{
  display: flex;
  justify-content: space-between;
  border-bottom: #ececec5e solid 1px;
  padding: 30px 10px;
  align-items: center;
}
.titleCart{
  color: #ffffff;

}
.verificar{
  letter-spacing: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 7px;
  width: 250px;
  border-radius: 5px;
  border: #ffffff solid 2px;
  background-color: #080808;
  color: aliceblue;
}
.verificar:hover{
  transition: 1s;
  color: #000000;
  background-color: #ffffff;
  border: #000000 solid 2px;
}
.contadorCart{
  color: #000000;
  background-color: #ffffff;
  border-radius: 100%;
  padding: 0px 10px;
  margin-left: 8px;
  font-size: 18px;
}
/*producto en el carrito*/
.titleProductCart{
  color: aliceblue;
  margin: 0;
}
.cantProductCart{
  font-size: 20px;
  color: #ffffff;
  margin: 0;
}
.textoCarritoItem{
  font-size: 20px;
  color: rgb(88, 87, 100);
  font-weight: lighter;
}
.homeCart{
  color: aliceblue;
  font-size: 50px;
  margin: 50px 40%;
}
.cartVacio{
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  margin: 50px 36%;
}
.btnEliminarTodo{
  font-size: 18px;
  letter-spacing: 4px;
  background-color: #941111;
  border-radius: 5px;
  padding: 8px 5px;
  width: 200px;
  margin: 20px 0px 8px;
  color: aliceblue;
  border: solid 1px #5a6868
}
.btnEliminarItem{
  background-color: #941111;
  border-radius: 5px;
  width: 100px;
  color: aliceblue;
  border: solid 1px #5a6868
}
.btnEliminarTodo:hover{
  background-color: #f10000bb;
  color: white;
  transition: 1s;
}
.home{
  text-decoration: none;
  color: aliceblue;
}
.totalPrecio{
  position: absolute;
  margin: 25px 0 0 242px;
  font-size: 25px;
  color: aliceblue;
  letter-spacing: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.subTotal{
  margin: 0;
  color: rgb(255, 255, 255);
  opacity: 0.8;
  font-family: 'Times New Roman', Times, serif;
}
.btnConfirmar{
  font-size: 18px;
  letter-spacing: 4px;
  background-color: #171616;
  border: #000000 solid 1px;
  border-radius: 5px;
  padding: 8px 5px;
  width: 200px;
  margin: 20px 0px 8px;
  color: rgb(255, 255, 255);
  border: solid 1px #fff;
  margin-left: 40%;
  margin-bottom: 20px;
}
.btnConfirmar:hover{
background-color: rgb(0, 0, 0);
color: #ffffff;
transition: 1s;
}